.terima-kasih-page {
    text-align: center;
    margin: 50px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #007bff;
    font-size: 36px;
  }

  